@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
  }

  body {
    @apply bg-white min-h-screen;
  }
}

@layer utilities {
  .glass-effect {
    @apply bg-white/90 backdrop-blur-md border border-gray-100 shadow-lg;
  }
}
